
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --logo-color: #000;
    --accent-color: #2196f3;
    --background-color: #fff;
    --hero-background-color: #2f303a;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
  
    color: var(--primary-text-color);
    background-color: var(--background-color);
  }
  
  a {
    text-decoration: none;
  }
  
  ul,
  p,
  h1,
  h2,
  h3,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  /* загальні стилі */
  img {
    max-width: 100%;
    display: block;
    height: auto;
  }
  .section {
    /* outline: solid 3px green; */
  
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .container {
    /* outline: solid 3px red; */
  
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* header */
  
  .container.header {
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding-top: 24px;
    padding-bottom: 25px;
  }
  
  .header nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
  
    color: var(--accent-color);
  }
  
  .logo > span {
    color: var(--logo-color);
  }
  
  .nav-list {
    display: flex;
  
    margin-left: 93px;
  }
  
  .nav-item:not(:first-child),
  .contacts-item:not(:first-child) {
    margin-left: 50px;
  }
  
  .contacts-list {
    display: flex;
  
    margin-left: auto;
  }
  
  .nav-link,
  .contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
  
  .nav-link {
    color: var(--primary-text-color);
  
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
  }
  
  .contacts-link {
    color: var(--secondary-text-color);
  }
  
  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--accent-color);
  }
  
  /* Герой */
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--hero-background-color);
    background-image:  url(./fon.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 165px;
  }
  
  .hero .container {
    text-align: center;
  }
  
  h1 {
    width: 696px;
  
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  
    color: var(--background-color);
  }
  
  .hero-button {
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
    padding: 10px 32px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
  
    color: var(--background-color);
    background-color: var(--accent-color);
  }
  
  /* Переваги */
  
  .advantages {
    display: flex;
    justify-content: space-between;
  }
  
  .advantages .item {
    width: 270px;
  }
  .advantages .title,
  .advantages .text {
    font-size: 14px;
    line-height: 16px;
  }
  .advantages .title {
    font-weight: 700;
    text-transform: uppercase;
  
    margin-bottom: 10px;
  }
  
  .advantages .text {
    font-weight: 400;
  
    color: var(--secondary-text-color);
  }
  .section-title {
    text-align: center;
    margin-bottom: 50px;
  }
  /* Чим ми займаємось */
  
  .what-we-do {
    display: flex;
    justify-content: space-between;
  }
  
  .what-we-do img {
    width: 370px;
    height: 294px;
  }
  /* Наша команда */
  .section-photos {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;
    fill: Solid #ffffff;
  }
  
  .photos {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .photos img{
    margin-bottom: 30px;
  }
  .photos-item{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding-bottom: 30px;
  }
  .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .posision {
    box-shadow: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    padding: 0;
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
  }
  /* футер */
  .footer {
    background-color: var(--hero-background-color);
  }
  
  
  .footer .logo > span {
    color: var(--background-color);
  }
  
  address {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  
    color: var(--background-color);
  }
  
  .footer .contacts-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  
    color: rgba(255, 255, 255, 0.6);
  }
  .foto-list{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .foto-item{
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
    border: 1px solid #EEEEEE ;
  }
  .job-title{
    margin-bottom: 4px;
  }
  .bt-list{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
  }
  .list-btn:not(:last-child){
    margin-right: 10px;
  }
  .button{
    border: none;
    width: 125px;
    height: 38px;
    background-color: var(--accent-color);
    color: var(--background-color);
  }
  .overlay{
    position: absolute;
    background-color: var(--accent-color);
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
    left: 0;
  }
  .foto-item a:hover .overlay {
    transform: translateY(0);
  }
  .thumb{
    position: relative;
    overflow: hidden;
  }
  .resurs{
    color: #fff;
    font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
  }
.nav-link::after{
  transform: scale(0);
  border-radius: 2px;
background: #2196F3;
height: 4px;
content: "";
display: inline-block;
position: absolute;
bottom: 0;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
left: 0;
right: 0;
}
.nav-link:hover::after{
 transform: scale(1) ;
}
.contacts-icon{
  fill: #757575;
}  
.conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
}
.network-icon{
  /* fill: rgba(175, 177, 184, 1); */
  height: 20px;
  width: 20px;
  fill: currentColor;
} 

.network{
  display: flex;
  gap: 10px;
  justify-content: center;
}
.network-link{
  display: inline-flex;
    justify-content: center;
    align-items: center;

    /* display: inline-block;
    padding: 12px; */

    width: 44px;
    height: 44px;
 
    color: rgba(175, 177, 184, 1);
}
.network-link:hover,
.network-link:focus{
  background-color: var(--accent-color);
    border-radius: 50%;
    color: var(--background-color);
}
.always{
  color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}
.regular-customers{
  display: flex;
  justify-content: space-between;
}
.link-regular{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  width: 170px;
  height: 92px;
  color: #757575;

}
/* .this-section{
  width: 1200px;
flex-shrink: 0;
} */
.link-regular:hover,
.link-regular:focus{
  color: var(--accent-color);
  border: 1px solid var(--accent-color);

}
.pru{
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.container-p{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.regular-item{
  fill: currentColor;
}
.what-we-do .text{
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.what-we-do div{
  align-items: center;
  display: flex;
  position: absolute;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.80);
  height: 70px;
  bottom: 0;
  width: 100%;
}
.what-we-do-item{
  position: relative;
}
/* модельне вікно */
.backdrop{
  position: fixed;
  background: rgba(0, 0, 0, 0.20);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1 ;
  pointer-events: 0;
}
.modal{
  width: 528px;
  height: 581px;
  position: relative;
  background-color: #fff;
  padding: 40px;
}
.close{
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.10);;
}
.form-title{
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
margin-bottom: 12px;
}
.form-field{
  display: flex;
  flex-direction: column;
}
.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}
.vidpravutu{
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  display: block;

  color: var(--background-color);
  background-color: var(--accent-color);
}
.textarea{
  resize: none;
  width: 448px;
  height: 120px;
}
.item{
  width: 448px;
  height: 40px;
}
.pogodzhuus{
  color: #757575;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}
.ymovu{
  color: #2196F3;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-line: underline;
}
.svg{
  position: absolute;
  left: 12px;
  top: 30px;
  
}
.form-field{
  position: relative;
  display: flex;
  flex-direction: column;
}
.form-field input{
  outline: none;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.20);
  padding-left: 30px;
}
.form-field:focus-within svg{
  fill: var(--accent-color);
}
.form-field:focus-within  input{
  border-color: var(--accent-color);
}