@import './variables';
@import './brackpoints';
@import './utils';
@import './common';
@import './header';
@import './hero';
@import './ advantages';
@import './what-we-do';
@import './our-team';
@import './footer';
@import './foto-item';
@import './modalka';
@import './button';
@import './nav-link';
@import './netwonk';
@import './link-regular';
@import './vse-inshe';
.burger-menu{
    display: none;
    @media screen and (max-width:767px) {
        display: flex;
        background-color: #fff;
        color: #fff;
        border: none;
    }
}